/* ==========================================================================
   Responsive'ness
   ========================================================================== */

@media (max-width: 767px) {
	.container {
		width: 100%;
	}
	
	[class*="span"] {
		display: block;
		float: none;
		width: auto;
	}

	.browser{ display: none; }
	.tablet{ display: none; }
	.mobile{ display: inherit; }
}

@media (min-width: 768px) and (max-width: 959px) {
	.container {
		width: 768px;
	}

	.browser{ display: none; }
	.tablet{ display: inherit; }
	.mobile{ display: none; }
}

@media (min-width:960px) and (max-width: 1199px) {
	.container {
		width: 960px;
	}

	.browser{ display: inherit; }
	.tablet{ display: none; }
	.mobile{ display: none; }
}

@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}

	.browser{ display: inherit; }
	.tablet{ display: none; }
	.mobile{ display: none; }
}
