/* =============================================================================
   Variables
   ========================================================================== */

/* Grid
   ========================================================================== */

$gridColumns: 12;
$gridGutter: 2%;
$gridSpan: (100% - (($gridColumns - 1) * $gridGutter)) / $gridColumns;